@import "../../../main.scss";

.search-container {
  text-align: right;
}

.search-input {
  width: 50%;
  margin-bottom: $space-md;
  box-sizing: border-box;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: 0.5rem 1rem;
  font: inherit;
}
