<table class="summary" *ngIf="books.length">
  <thead>
      <tr>
        <th class="item-title">Article</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Sous-total</th>
        <th><button class="remove" *ngIf="books.length >= 2" (click)="empty()">Tout supprimer</button></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of books; let i = index" @delete>
      <td class="item-title">{{ item.title }}</td>
      <td>{{ item.price }} €</td>
      <td>x {{ item.units }}</td>
      <td>{{ booksPrice[i] }} €</td>
      <td><button class="remove" (click)="delete(item)">Supprimer</button></td>
    </tr>
  </tbody>
</table>
