@import "../../../main.scss";

.summary {
  border-collapse: collapse;
  width: 100%;
  line-height: 1.6em;
}

.summary tr {
  border-bottom: 1px solid #ddd;
}

.summary tbody tr:nth-child(2n + 2) {
  background-color: #fafafa;
}

.summary th,
.summary td {
  padding: 0.5rem;
  font-weight: normal;
  text-align: right;
}

.summary th {
  color: $color-alt;
}

.summary .item-title {
  text-align: left;
}

.remove {
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius;
  border: none;
  background-color: #eee;
  color: $color-alt;
}
