.container {
  display: flex;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.description {
  flex-grow: 1;
  padding-right: var(--space-medium);
}

.details {
  text-align: center;
}

.title {
  margin-top: 0;
}

.more {
  cursor: pointer;
}

.cover {
  max-height: 9rem;
}

.price {
  margin: 0.25rem 0;
}

.action {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-brand);
  color: #fff;
  font-size: 1.25rem;
  transition: all ease var(--transition-duration);
}

.action-remove {
  background-color: cadetblue;
}
