<section *ngFor="let item of items">
  <article>
    {{ item.title }}
    {{ item.price }} &euro;
    {{ item.units }} article(s)
    <button (click)="onDelete(item)">Supprimer</button>
  </article>
</section>

<button *ngIf="items.length >= 2" (click)="onEmpty()">Tout supprimer</button>

<p *ngIf="fullPrice">Prix : {{ fullPrice }} &euro;</p>

<!--<p *ngFor="let discount of offers">
  {{ discount.type }}
  {{ discount.price }}
</p>-->

<ng-container *ngIf="offers.length" [ngSwitch]="offers[0].type">
  <p *ngSwitchCase="'percentage'">
    Votre prix : {{ offers[0].price }} &euro;<br />
    Vous avez une réduction de {{ offers[0].value }} % !
  </p>
  <p *ngSwitchCase="'minus'">
      Votre prix : {{ offers[0].price }} &euro;<br />
      Vous avez une réduction de {{ offers[0].value }} &euro; !
  </p>
  <p *ngSwitchCase="'slice'">
      Votre prix : {{ offers[0].price }} &euro;<br />
      Vous avez une réduction de {{ offers[0].value }} &euro; par tranche de {{ offers[0].sliceValue }} &euro; !
  </p>
</ng-container>

<p *ngIf="!items.length">Votre panier est vide.</p>
