<main class="container">
  <app-books-basket></app-books-basket>

  <h1 class="title">Henri Potier - online</h1>

  <nav class="nav-list">
    <a class="nav-item" routerLink="/list" routerLinkActive="nav-active">Catalogue</a>
    <a class="nav-item" routerLink="/cart" routerLinkActive="nav-active">Panier</a>
    <a class="nav-item" routerLink="/all" routerLinkActive="nav-active">Vue unique</a>
  </nav>

  <router-outlet></router-outlet>

  <footer class="footer">
    2018 &copy; Avine
    <a href="https://github.com/avine/angular-store-dojo">Github</a>
  </footer>
</main>
