@import "../main.scss";

.container {
  $container-max-width: 670px; /* 670px - 2 * 15px = 640px */

  margin: 0 15px;
  padding: 0 calc(50% - #{$container-max-width}/2);
  max-width: $container-max-width;
  /*border-top: 1px solid transparent;*/
}

.title {
  margin-top: 4rem;
  text-align: center;
}

.nav-list {
  display: flex;
  margin: $space-lg 0;
  border-bottom: 1px solid $border-color;
}

.nav-item {
  display: block;
  border-radius: $border-radius $border-radius 0 0;
  padding: $space-sm $space-md;
  text-decoration: none;
  transition: all ease $transition-duration;
}

.nav-active {
  background-color: $color-brand;
  color: white;
}

.footer {
  padding: $space-lg 0;
  text-align: right;
}
