<ng-container *ngIf="books$ | async; let books else loading">
  <app-books-search (onSearch)="onSearch($event)"></app-books-search>

  <section>
    <app-books-book
      *ngFor="let book of books | booksFilter:search?.term:search?.fullSearch; trackBy:book?.isbn"
      [book]="book"
      [units]="(units$ | async)[book.isbn]"
      (onUnitsChanged)="onUnitsChanged(book, $event)">
    </app-books-book>
  </section>
</ng-container>

<ng-template #loading>
  <p class="loading">Chargement...</p>
</ng-template>
