@import "../../../../styles.scss";

.align-right {
  text-align: right;
}

.price-dashed {
  color: $color-alt;
  font-weight: normal;
  text-decoration: line-through;
}

.offer-desc {
  color: dodgerblue;
}

.checkout {
  margin-top: $space-lg;
  text-align: center;
}

.checkout button {
  padding: 1rem 2rem;
  border-radius: $border-radius;
  border: none;
  background-color: $color-secondary;
  color: white;
  font-size: 1.5rem;
}
