:root {
  --space-large: 3rem;
  --space-medium: 1.5rem;
  --color-brand: dodgerblue;
  --border-color: #ccc;
  --transition-duration: 0.25s;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  margin: 0;
}

a, a:link {
  color: var(--color-brand);
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

hr {
  margin: var(--space-medium) 0;
  border: 0 solid var(--border-color);
  border-top-width: 1px;
}
