html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  margin: 0;
}

a, a:link {
  color: dodgerblue;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

hr {
  margin: 1.5rem 0;
  border: 0px solid #ccc;
  border-top-width: 1px;
}
