<article class="container">
  <div class="description">
    <img class="cover" [src]="book.cover" [alt]="book.title">

    <h2 class="title">{{ book.title }}</h2>

    <ng-container *ngFor="let synopsis of book.synopsis; let i = index">
      <p *ngIf="i == 0 || readMore">{{ synopsis }}</p>
    </ng-container>

    <a *ngIf="book.synopsis.length > 1" class="more" (click)="readMore = !readMore">
      <ng-container *ngIf="!readMore">plus d'infos</ng-container>
      <ng-container *ngIf="readMore">moins d'infos</ng-container>
    </a>
  </div>

  <label class="action">
    <div class="action-inner">
      <small>Prix :</small>
      <h3 class="price">{{ book.price }} &euro;</h3>

      <input class="units-input" type="number" min="0" [value]="units || 0" #unitsInput (input)="onChange(unitsInput.value)">
      <small class="units-type">quantité</small>
    </div>
  </label>
</article>
